<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--black collapsible__icon">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ex,
    libero provident reiciendis facilis deserunt. Consectetur atque minima
    eveniet unde nostrum quaerat assumenda, labore consequatur fugit explicabo
    officiis eaque debitis!
  </div>
</div>
